body, html {
	
	margin:0;
	font:sans-serif, "Times New Roman";
}

.navMain {
	width:100%;
	background-color:#ffffff;
	height:70px;
	border-bottom:solid 4px;
	border-color:#cccccc;
}

.header {
	margin-left:150px;
	color:white;
	background-color:#4aaaa5;
 	float:left;
 	height:40px;
	padding:15px 30px;
	font-size:30px;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	line-height:40px;

}

.navMain ul {
	margin:0;
	padding-right:150px;
	float:right;
	list-style-type:none;
}

.navMain ul li {
	font-family:Times;
	font-size:22px;
	float:left;
	padding-right:10px;
}

.navItem {
	color:#777777;
	text-decoration:none;
	display:inline-block;
	padding: 15px 5px;
	line-height:40px;
	float:left;
}

.aboutMe {
	width:50%;
	padding:10px 30px;
	margin:50px 0 50px 150px;
	background-color:#ffffff;
	display:inline-block;
	float:left;
	
}

#headerAboutMe {
	color:#4aaaa5;
}

.profilePic {
	margin:20px 30px 10px 0px;
	width:250px;
	float:left;
	padding-right:30px;
}
p {
	padding:0px 0 20px 0;
	line-height:200%;
	font-size:20px;
	color:#777777;
}

.connectWithMe {
	background-color:#ffffff;
	margin-right:150px;
	padding:20px 0;
	width: 20%;
	display:inline-block;
	float:right;
	margin:50px 150px 0 0;
	padding:10px;
	
	
}
.connectWithMe h2 {
	color:#4aaaa5;
}

.footer {
	clear:both;
	width:100%;
	background:#666666;
	text-align:center;
	padding:30px;
	display: block;
	color:#ffffff;
	position:absolute;
    bottom:0;
    border-top:solid 6px;
	border-color: #4aaaa5;
}
#headerPortfolio {
	color:#4aaaa5;
	
}
.portfolio {
	width:50%;
	padding:10px 30px;
	margin:50px 0 50px 150px;
	background-color:#ffffff;
	display:inline-block;
	float:left;
}