body, html {
	
	margin:0;
	height:100%;
}

.navMain {
	width:100%;
	background-color:#ffffff;
	height:70px;
	border-bottom:solid 4px;
	border-color:#cccccc;
}

.header {
	margin-left:150px;
	color:white;
	background-color:#4aaaa5;
 	float:left;
 	height:40px;
	padding:15px 30px;
	font-size:35px;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	line-height:40px;

}

.navMain ul {
	margin:0;
	padding-right:200px;
	float:right;
	list-style-type:none;
}

.navMain ul li {
	font-family:Times;
	font-size:22px;
	float:left;
	padding-right:10px;
}

.navItem {
	color:#777777;
	text-decoration:none;
	display:inline-block;
	padding: 15px 5px;
	line-height:40px;
	float:left;
}

.aboutMe {
	width:50%;
	padding:10px 30px;
	margin:50px 50px 50px 150px;
	background-color:#ffffff;
	display:inline-block;
	float:left;
	
}

#headerAboutMe {
	color:#4aaaa5;
}

.profilePic {
	margin:20px 30px 10px 0px;
	width:250px;
	float:left;
	padding-right:30px;
}

p {
	padding:0px 0 20px 0;
	line-height:200%;
	font-size:20px;
	color:#777777;
}

.connectWithMe {
	background-color:#ffffff;
	width: 14%;
	display:inline-block;
	float:left;
	margin:50px 150px 0 0;
	padding: 10px 20px;
	
}
.connectWithMe h2 {
	color:#4aaaa5;
	font-size:26px;
}

#headerPortfolio {
	color:#4aaaa5;
}

.portfolio {
	background-color:#ffffff;
	padding: 10px 30px;
	margin: 50px 50px 150px 150px;
	width:50%;
	display:inline-block;
	height:100%;
	float:left;
}

.contact {
	background-color:#ffffff;
	padding: 10px 30px;
	margin:50px 50px 50px 150px;
	width:50%;
	display:inline-block;
	float:left;
}

#headerContact {
	color:#4aaaa5;
}

.footer {
	clear:left;
	width:100%;
	background:#666666;
	text-align:center;
	padding:30px;
	color:#ffffff;
    bottom:0;
    border-top:solid 6px;
	border-color: #4aaaa5;
}

#container {
	min-height:100%;
	position:relative;
}

.image img {
	width: 340px;
	display:inline-block;
	position:relative;
}

#imageFood {
	padding:20px 20px 10px 0;
	display:inline-block;
}

#imageNature {
	padding:20px 0 0 20px;
	display:inline-block;
	float:right;
}

#imageNightlife {
	padding:20px 20px 20px 0;
	display:inline-block;
}

#imageSports {
	padding:20px 0 0 20px;
	display:inline-block;
	float:right;
	
}

#imageDog {
	padding:10px 0;
	display:inline-block;
}

#imageFood h2 {
	position:absolute;
	width:340px;
	top:200px;
	margin-top:230px;
	background-color:#4aaaa5;
	color:#ffffff;
	padding:15px 0;
	text-align:center;
	font-family: serif;
}

#imageNature h2 {
	position:absolute;
	width:340px;
	top:200px;
	margin-top:230px;
	background-color:#4aaaa5;
	color:#ffffff;
	padding:15px 0;
	text-align:center;
}

#imageSports h2 {
	position:absolute;
	width:340px;
	top:490px;
	margin-top:230px;
	background-color:#4aaaa5;
	color:#ffffff;
	padding:15px 0;
	text-align:center;
}

#imageNightlife h2 {
	position:absolute;
	width:340px;
	top:490px;
	margin-top:230px;
	background-color:#4aaaa5;
	color:#ffffff;
	padding:15px 0;
	text-align:center;
}


#imageDog h2 {
	position:absolute;
	width:340px;
	top:790px;
	margin-top:230px;
	background-color:#4aaaa5;
	color:#ffffff;
	padding:15px 0;
	text-align:center;
}

input [type=text] {
	width:100%;
}